html, body, h1, h2, input, label, button, fieldset, textarea {
    margin: 0;
    padding: 0;
}

input, label, button {
    font: inherit;
}

body {
    font-family: Arial, Helvetica, "Microsoft YaHei", "PingFang SC", "PingFang TC", "PingFang HK", sans-serif;
    font-size: 16pt;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

#page {
    display: grid;
    grid-template-rows: 4;
    grid-gap: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

#toolbox-options fieldset:not(:last-child) {
    margin-bottom: 0.5em;
}

#toolbox-options fieldset {
    border: none;
}

#toolbox-options textarea {
    width: 100%;
    min-height: 2em;
    font: inherit;
    resize: vertical;
}

#editor, #viewer {
    padding: 12px;
    min-height: 8em;
    box-sizing: border-box;
    word-break: break-all;
}

#editor {
    border: thin solid silver;
    overflow: scroll;
}

#viewer {
    font-size: 0.75em;
    resize: none;
}

ruby:hover {
    outline: thick solid rgba(250, 30, 20, 0.5);
    outline-offset: 4px;
}

rt {
    font-size: 0.75em;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
    #page {
        grid-template-rows: [toolbox-start] auto [toolbox-end] auto [editor-start] 1fr [editor-end];
        grid-template-columns: [content-start] 3fr [sidebar-start] 2fr [sidebar-end];
        grid-column-gap: 1em;
        padding: 1em;
        height: 100vh;
    }

    #toolbox {
        grid-row-start: toolbox-start;
        grid-column-start: content-start;
        grid-column-end: sidebar-end;
    }

    #toolbox-options {
        display: flex;
    }

    #toolbox-options fieldset:not(:last-child) {
        margin-bottom: 0em;
        margin-right: 1em;
        flex: 1;
    }

    #toolbox-options fieldset {
        display: flex;
        flex-direction: column;
    }

    #commands, #editor-title {
        grid-row-start: toolbox-end;
        grid-column-start: content-start;
    }

    #commands {
        align-self: center;
        justify-self: flex-end;
        z-index: 1;
    }

    #editor {
        grid-row-start: editor-start;
        grid-column-start: content-start;
    }
}
